<!DOCTYPE html>
<html>
  <head>
    <title>MINDER</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script>
      function snackbar(message) {
        var blah = $('#snackbar');
        blah.addClass('show').text(message);
        setTimeout(function(){ blah.removeClass('show') }, 3000);
      }
    </script>
    <% if(typeof user !== undefined) { %>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var unread_messages = 0;
      var socket = io({
        query: {
          id: '<%= user._id %>'
        }
      });
      $(function() {
        socket.on('notifications', function(obj) {
          let message = `${obj.data.sender.name}: ${obj.data.message}`;
          snackbar(message);
          unread_messages++;
          if(unread_messages > 0) {
            $('#unread_messages').text(`(${unread_messages})`);
          } else {
            $('#unread_messages').text('');
          }
        })
      })
    </script>
    <% } %>
  </head>
  <body>

    <nav class="navbar fixed-top navbar-dark bg-dark">
      <a class="navbar-brand" href="/">MINDER</a>

      <div>
        <% if(typeof user !== 'undefined' && user) { %>
          <a href="/chat"><i class="fa fa-comment" aria-hidden="true"></i> Chat <span id="unread_messages"></span></a>
          <a href="/user"><i class="fa fa-user-circle" aria-hidden="true"></i> <%= user.name %></a>
          <a href="/user/logout">LOGOUT</a>
        <% } %>
      </div>
      
    </nav>

    <div id="snackbar"></div>